.out-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(255,255,255, 0.15);
}

.out-wrap {
  display: flex;
  flex-wrap: wrap;
}

.out-item {
  margin: 0.5rem;
  flex: auto;
  height: max-content;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(255,255,255, 0.15);
  border-radius: 1rem;
  padding: 1rem;
}


.picBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic {
  width: 18rem;
  height: 18rem;
}

.box {
  height: inherit;
}
