body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1b0b8e;
  background: -webkit-linear-gradient(top left, #1b0b8e, #f861df);
  background: -moz-linear-gradient(top left, #1b0b8e, #f861df);
  background: linear-gradient(to bottom right, #1b0b8e, #f861df);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: white;
}
